@{
        ViewBag.Title = "UyelikBasarili";
        Layout = "~/Areas/WebPanel/Views/Shared/_WebSablon.cshtml";
    }

<h1>Üyeliğiniz başarılı bir şekilde gerçekleştirilmiştir.</h1>

<script type='text/javascript'> setTimeout(function () { location.href = '/WebPanel/Home/Index' }, 2000);</script>