@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/YonetimPanel/Views/Shared/_YonetimSablon.cshtml";
}

<h6>Yönetim Paneli İçerik</h6>
<h5>Yönetim Paneli İçerik</h5>
<h4>Yönetim Paneli İçerik</h4>
<h3>Yönetim Paneli İçerik</h3>
<h2>Yönetim Paneli İçerik</h2>
<h1>Yönetim Paneli İçerik</h1>